<!-- updateNotification.handlebars -->
<html>
    <head>
        <style>
            body { font-family: Arial, sans-serif; }
        </style>
    </head>
    <body>
        <p>Hi {{name}},</p>
        <p>There has been an update to the bug report you are following:</p>
        <p>Report Number: {{reportNumber}}</p>
        <p>Previous type: {{previousType}}</p>
        <p>Previous summary: {{previousSummary}}</p>
        <p>Current Status: {{status}}</p>
        <p>New Type: {{type}}</p>
        <p>New Summary: {{summary}}</p>
    </body>
</html>
